.containerDiv {
    
    display: flex;
}

.paintDiv {
   
   
}

#topContainer {
    border: 2px solid black;
    display: inline-block;
    width: 960px;
    height: 960px;

}

.painted {
    background-color: red;
}